.bg-color-main2 {
    background-color: #0198FF;
}

.bg-color-main3 {
    background-color: #035CB2;
}

.text-color-main2 {
    color: #0198FF;
}

.text-color-main3 {
    color: #035CB2;
}

.bg-color-main-red {
    background-color: #E65353;
}